//
   Created by CarolXimena on 15/10/2015.

extends layout
block content
    script(src='/js/jquery-1.11.1.min.js')
    script(src='/js/d3.v3.min.js')
    script(src='/js/radar.js')
    script(src='/js/d3.svg.circularbrush.js')
    link(rel='stylesheet', href='/css/strad-time.css')
    #timeview.timeview

    script(src='js/coordinated/timeviewTool.js')
    script(src='/js/coordinated/main.js')